.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.form{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  border: 2px solid black;
  background-color: pink;
}

.form1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: space-around;
  height: 320px;
  border: 2px solid black;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: pink;
}

.form input,.form1 input {
  border-radius: 8px;
  padding: 5px;
}

.form button,.form1 button {
  border-radius: 8px;
  padding: 3px;
  width: 100px;
  background-color: aqua;
  font-weight: bolder;
}